.main_head {
	color: red;
}

#picture {
	max-width: 100px;
	max-height: 100px;
}
#conditions {
	text-transform: capitalize;
}

#button {
	width: 60px;
	height: 60px;
	color: white;
	font-weight: bold;
	display: inline-block;
	background-color: blue;
}

